VITE_BASE_URL = INPUT_THE_CORRECT_URL
VITE_FIREBASE_API = PLACEHOLDER
VITE_AUTH_DOMAIN = PLACEHOLDER
VITE_PROJECT_ID = PLACEHOLDER
VITE_BUCKET = PLACEHOLDER
VITE_SENDER_ID = PLACEHOLDER
VITE_APP_ID =PLACEHOLDER